## **Exercício Spark (DataFrames e SQL)**

**Parte 1 (DataFrames)**

In [47]:
# Resolução Questão 01

!apt-get install openjdk-8-jdk-headless -qq > /dev/null

!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz 
!tar xf spark-3.2.1-bin-hadoop3.2.tgz 

!pip install -q findspark

In [48]:
import os 
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

In [15]:
import findspark
findspark.init()

In [16]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Spark SQL").master("local[*]").getOrCreate()
spark

In [17]:
from pyspark.sql.types import *

In [35]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [144]:
spark.sql('DROP DATABASE IF EXISTS clientes CASCADE')

DataFrame[]

In [141]:
spark.sql('CREATE DATABASE PARTE1') 
spark.sql('USE PARTE1')
cliente_schema = 'idCliente INT, NomeCliente STRING, Sexo STRING, Estado STRING, Status_Cliente STRING'
Cliente = spark.read.parquet('/content/Clientes.parquet', header=False, schema=cliente_schema) 
Cliente.write.saveAsTable("Clientes")
Cliente.show()

+---------+--------------------+------+------+--------+
|ClienteID|             Cliente|Estado|Genero|  Status|
+---------+--------------------+------+------+--------+
|        1|Adelina Buenaventura|    RJ|     M|  Silver|
|        2|        Adelino Gago|    RJ|     M|  Silver|
|        3|     Adolfo Patrício|    PE|     M|  Silver|
|        4|    Adriana Guedelha|    RO|     F|Platinum|
|        5|       Adélio Lisboa|    SE|     M|  Silver|
|        6|       Adérito Bahía|    MA|     M|  Silver|
|        7|       Aida Dorneles|    RN|     F|  Silver|
|        8|   Alarico Quinterno|    AC|     M|  Silver|
|        9|    Alberto Cezimbra|    AM|     M|  Silver|
|       10|    Alberto Monsanto|    RN|     M|    Gold|
|       11|       Albino Canela|    AC|     M|  Silver|
|       12|     Alceste Varanda|    RR|     F|  Silver|
|       13|  Alcides Carvalhais|    RO|     M|  Silver|
|       14|        Aldo Martins|    GO|     M|  Silver|
|       15|   Alexandra Tabares|    MG|     F|  Silver|
|       16|      Alfredo Cotrim|    SC|     M|  Silver|
|       17|     Almeno Figueira|    SC|     M|  Silver|
|       18|      Alvito Peralta|    AM|     M|  Silver|
|       19|     Amadeu Martinho|    RN|     M|  Silver|
|       20|      Amélia Estévez|    PE|     F|  Silver|
+---------+--------------------+------+------+--------+
only showing top 20 rows

In [64]:
spark.sql('SELECT Cliente as Nome , Status, Estado FROM Clientes').show()

+--------------------+--------+------+
|                Nome|  Status|Estado|
+--------------------+--------+------+
|Adelina Buenaventura|  Silver|    RJ|
|        Adelino Gago|  Silver|    RJ|
|     Adolfo Patrício|  Silver|    PE|
|    Adriana Guedelha|Platinum|    RO|
|       Adélio Lisboa|  Silver|    SE|
|       Adérito Bahía|  Silver|    MA|
|       Aida Dorneles|  Silver|    RN|
|   Alarico Quinterno|  Silver|    AC|
|    Alberto Cezimbra|  Silver|    AM|
|    Alberto Monsanto|    Gold|    RN|
|       Albino Canela|  Silver|    AC|
|     Alceste Varanda|  Silver|    RR|
|  Alcides Carvalhais|  Silver|    RO|
|        Aldo Martins|  Silver|    GO|
|   Alexandra Tabares|  Silver|    MG|
|      Alfredo Cotrim|  Silver|    SC|
|     Almeno Figueira|  Silver|    SC|
|      Alvito Peralta|  Silver|    AM|
|     Amadeu Martinho|  Silver|    RN|
|      Amélia Estévez|  Silver|    PE|
+--------------------+--------+------+
only showing top 20 rows

In [72]:
# Resolução Questão 02

spark.sql("SELECT*FROM Clientes WHERE Status='Gold'").show()

+---------+-------------------+------+------+------+
|ClienteID|            Cliente|Estado|Genero|Status|
+---------+-------------------+------+------+------+
|       10|   Alberto Monsanto|    RN|     M|  Gold|
|       28|      Anna Carvajal|    RS|     F|  Gold|
|       49|      Bento Quintão|    SP|     M|  Gold|
|       68|      Carminda Dias|    AM|     F|  Gold|
|       83|      Cláudio Jorge|    TO|     M|  Gold|
|      121|    Dionísio Saltão|    PR|     M|  Gold|
|      166|   Firmino Meireles|    AM|     M|  Gold|
|      220|Honorina Villaverde|    PE|     F|  Gold|
|      237|  Iracema Rodríguez|    BA|     F|  Gold|
+---------+-------------------+------+------+------+

In [143]:
# Resolução Questão 03

vendas_schema= 'idVendas INT, idVendedor INT, idCliente INT, Data_venda DATE, Total_Vendas FLOAT'
Vendas = spark.read.parquet('/content/Vendas.parquet', header=False, schema=vendas_schema) 
Vendas.write.saveAsTable("Vendas")

In [127]:
spark.sql('SELECT C.Status, V.Total FROM Clientes C INNER JOIN Vendas V ON C.ClienteID=V.ClienteID').show()

+------+--------+
|Status|   Total|
+------+--------+
|Silver|  8053.6|
|Silver|   150.4|
|Silver|  6087.0|
|Silver| 13828.6|
|Silver|26096.66|
|Silver| 18402.0|
|Silver|  7524.2|
|Silver| 12036.6|
|Silver| 2804.75|
|Silver|  8852.0|
|Silver|16545.25|
|Silver|11411.88|
|Silver| 15829.7|
|Silver| 6154.36|
|Silver| 3255.08|
|Silver| 2901.25|
|Silver| 15829.7|
|Silver|16996.36|
|Silver|   155.0|
|Silver|  131.75|
+------+--------+
only showing top 20 rows

**Parte 2 (SQL)**

In [134]:
# Resolução Questão 01

spark.sql('CREATE DATABASE VENDAS_COMERCIO')
spark.sql('USE VENDAS_COMERCIO')
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+